body {
	margin: 0;
	font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(./assets/imgs/starsbg.jpeg);
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
}

body .spinner {
	position: absolute;
	top: 45%;
	left: 45%;
	font-size: 1.5em;
	height: 100px;
	width: 100px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
